
.img-stomatopoda {
    width: 300px;
    }

.img-super-poderes {
    width: 300px;
}

.img-tyson-mares {
    width: 300px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    
}

